.Rproj.user
.Rhistory
.RData
.Ruserdata

Slides/cache
Slides/figure
Slides/*.vrb
Slides/*.log
Slides/*.snm
Slides/*.nav
Slides/*.bbl
Slides/*.tex
Slides/*.gz
Slides/*.toc
Slides/*.blg
Slides/*.bcf
Slides/*.xml
Slides/*.out
Slides/*.aux
